.cache
.config
.DS_Store
.env
.ipynb_checkpoints
.ipython
.jupyter
.local
.nyc_output
.taskData
.vscode
*.bundle.*
*.egg-info/
*.ipynb
build
dist
frontend
geckodriver.log
jupyter-vcdat_logfile.txt
lib
node_modules
sample_data
tests/.last_failure
tests/**/__pycache__
tests/*/*.pyc
tests_html
tests_workdir
vcdat_animations
vcdat_tmp