build
dist
*.bundle.*
lib/
node_modules/
*.egg-info/
*.ipynb
.cache
.config
.ipynb_checkpoints
.ipython
.jupyter
.local
.nyc_output
.vscode
sample_data/
frontend/
.DS_Store
.env
.taskData
.nyc_output
tests/**/__pycache__
tests/*/*.pyc
tests/.last_failure
tests_html
tests_workdir