build
dist
*.bundle.*
lib/
node_modules/
*.egg-info/
.ipynb_checkpoints
sample_data/
frontend/
.DS_Store
.vscode
.taskData
tests/**/__pycache__
tests/*/*.pyc
tests/.last_failure
tests_html
tests_workdir
*.ipynb