.jp-xkcdWidget {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.jp-xkcdCartoon {
    margin: auto;
    background-color: white;
}

.jp-cartoonImg {
    margin: auto;
}

.jp-xkcdAttribution {
    margin: 20px auto;
}