
.jp-vcsWidget-form {
    padding-top: 1em;
    padding-bottom: 1em;
}

.jp-vcsWidget-apply-buttons {
    padding-top: 1em;
}

.jp-vcdat-icon {
    background-image: url('../icons/cdat_icon_colored.png');
}