.jp-vcsWidget-form {
  padding-top: 1em;
  padding-bottom: 1em;
}

.jp-vcsWidget-apply-buttons {
  padding-top: 1em;
}

.jp-icon-vcdat {
  background-image: url("../icons/cdat_icon_colored.png");
}

/*.about-vcdat-icon {
  background-image: url("../icons/cdat_icon_colored.png");
  width: 100px;
  height: 100px;
  object-fit: "";
}*/

#gm_card .dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
}

#gm_card .dropdown-menu::-webkit-scrollbar:vertical {
  width: 11px;
}

#gm_card .dropdown-menu::-webkit-scrollbar:horizontal {
  height: 11px;
}

#gm_card .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}

#tm_card .dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
}

#tm_card .dropdown-menu::-webkit-scrollbar:vertical {
  width: 11px;
}

#tm_card .dropdown-menu::-webkit-scrollbar:horizontal {
  height: 11px;
}

#tm_card .dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(0, 0, 0, 0.5);
}
